*{
  padding: 0%;
  margin: 0%;
  background: #f5f5f5;
}

.title-container{
  display: flex;
  justify-content: center;
}

.title-text{
  color: #3B3B3B;
  font-weight: bold;
}

#form{
  display: flex;
  justify-content: center;
}

.btn-container{
  display: flex;
  justify-content: center;
}

#texto{
  border-radius: 10px;
  padding: 1%;
}

.button-crear{
  width: 37%;
  border-radius: 10px;
  padding: 1.5%;
  margin-top: 5px;
  background:  #3B3B3B;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.container{
  margin-top: 10%;
  justify-content: center;
}

.notes{
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 3%;
}

.note-container{
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  border: #3B3B3B solid 1px;
  width: 35%;
}

.button-delete{
  background-color: #bac4c8;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  padding: 3%;
  width: 40%;
  margin-top: 5%;
  color: #3B3B3B;
  cursor: pointer;
}

.button-delete-div{
  display: flex;
  justify-content: end;
}

@media screen and (min-width: 768px) {
  .button-crear{
    width: 14%;
    border-radius: 10px;
    padding: 0.5%;
    margin-top: 5px;
    background:  #3B3B3B;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }

  .note-container{
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    border: #3B3B3B solid 1px;
    width: 12%;
  }

  .text-area{
    width: 12%;
  }
}